.cardContainer {
  margin: 2rem 0;
  width: 13rem;
  height: auto;
  .details {
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    font-weight: 600;
    justify-content: space-around;
    padding: 0.8rem 0.5rem;
  }
  .detailsTwo {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-weight: 600;
    span {
      color: #5c5c5c;
      font-size: 0.8rem;
    }
  }
}
