.cardContainer {
  margin: 2rem 0;
  width: 18rem;
  height: auto;
  .details {
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    font-weight: 600;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
  }
  .detailsTwo {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-weight: 600;
    span {
      color: #5c5c5c;
      font-size: 0.8rem;
    }
  }
  p {
    padding: 0.2rem 1rem;
    color: #5c5c5c;
  }
}
