.cardContainer {
  margin: 2rem auto;
  width: 18rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .cardpic {
    height: 10rem;
    width: 10rem;
    margin: auto;
    img {
      border-radius: 50%;
    }
  }
  h2{
    padding-top: 2rem;
    margin: auto;
    text-align: center;
  }
  h3{
    color: #8C8C8C;
    margin: auto;

  }
}
