.container {
  background: url("../pages/assets/Landing.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 5rem);
  width: 100%;
  display: flex;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);

  .LeftSection {
    flex: 1.5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 0 3rem;
    font-weight: 600;
    color: #fff;
  }
  .RightSection {
    width: 40rem;
    display: flex;
    .card {
      border-radius: 2rem;
      padding: 1rem;
      :global {
        .ant-card-cover {
          text-align: center;
        }
      }

      .img {
        border-radius: 1rem;
      }
      .cardContent {
        h1 {
          font-weight: 600;
          margin: 0;
        }
        p {
          color: #5c5c5c;
          font-weight: 500;
        }
        display: flex;
        justify-content: space-between;
      }

      .cardDesc {
        color: #5c5c5c;
        font-weight: 600;
      }
    }
  }
}

.AboutSHG {
  width: 100%;
  display: flex;
  padding: 2rem;
  margin: 5rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .LeftSection {
    flex: 1;

    h1 {
      font-size: 3rem;
      border-bottom: 2px solid #ff8a1b;
      width: fit-content;
      padding: 0 1rem;
      text-align: center;
      margin: 1rem auto;
    }
  }

  .RightSection {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: #5c5c5c;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

.WelfareSchemes {
  background: #ebebeb;
  width: 100%;
  padding: 2rem 0;
  height: 10rem;
}
