
  .shg {
    font-family: Poppins;
    width: 80%;
    margin: 2rem auto;
    font-weight: 600;
  }
  .shgHeading {
    font-family: Poppins;
    width: 80%;
    margin: auto;
    font-weight: 600;
  }
  .cardController {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
