.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  .breadcrumb {
    width: 80%;
    margin: auto;
    margin: 2rem auto;
  }
  .colController {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .shgPic {
      margin: auto;
      height: 12rem;
      width: 12em;
      img {
        border-radius: 50%;
      }
    }
    h1 {
      margin: auto;
    }
    h2 {
      margin: auto;
      color: #8c8c8c;
    }
    .btnController {
      margin: auto;
      display: flex;
      justify-content: center;
      .editProfile {
        background-color: #ff8a1b;
        border: 2px solid #ff8a1b;
        height: auto;
        padding: 0.7rem 2rem;
        // margin: 2rem auto;
        text-align: center;
        color: white;
        font-weight: 600;
        margin: 3rem 0.3rem 0;
      }
      .manageProducts {
        background-color: none;
        border: 2px solid #ff8a1b;
        height: auto;
        padding: 0.7rem 2rem;
        // margin: 0 2rem;
        text-align: center;
        color: #ff8a1b;
        font-weight: 600;
        margin: 3rem 0.3rem 0;
      }
      .addProfile {
        background-color: white;
        height: auto;
        padding: 0.7rem 1.4rem;
        text-align: center;
        color: black;
        font-weight: 600;
        border: none;
        border: 2px solid black;
        border-radius: 5.6px;
        margin: 1rem 0.3rem;
      }
      .requests {
        background-color: white;
        height: auto;
        padding: 0.7rem 1.4rem;
        border: none;
        text-align: center;
        color: black;
        font-weight: 600;
        border: 2px solid black;
        border-radius: 5.6px;
        margin: 1rem 0.3rem;
      }
    }
    .stats {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 18%;
      margin: 2rem auto;
      h1 {
        font-size: 1.3rem;
        cursor: pointer;
        &:hover {
          color: #ff8a1b;
        }
      }
      h2 {
        margin-right: 1.2rem;
        margin-left: 0.2rem;
        font-size: 1rem;
      }
    }
   
    h3 {
      width: 80%;
      margin: auto;
    }
    p {
      width: 80%;
      margin: auto;
      color: #8c8c8c;
    }
  }
  .addPeopleForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .formItem{
      background: #ff8a1b;

      :global{
        .ant-btn-primary{

          
          background: #ff8a1b;
          color: white;
        }
      }
    }
  }
}

.user{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  .left{
    display:flex;
    flex-direction:row;
    .image{
      width:100px;
      height:100px;
      border-radius:50%;
    }
  }
  .right{
    .button{

    }
  }
 
}
